@import "../utilities/colors";

.my-test {
    background-color: green !important;
}

.my-primary {
    background-color: $color-primary-0 !important;
    color: #FFF !important;

    .my-lighten-1 {
        background-color: $color-primary-2 !important;
    }

    .my-lighten-2 {
        background-color: $color-primary-1 !important;
    }

    .my-darken-1 {
        background-color: $color-primary-3 !important;
    }

    .my-darken-2 {
        background-color: $color-primary-4 !important;
    }
}


.my-secondary-1 {
    background-color: $color-secondary-1-0 !important;
    color: #FFF !important;


    .my-lighten-1 {
        background-color: $color-secondary-1-2 !important;
    }

    .my-lighten-2 {
        background-color: $color-secondary-1-1 !important;
    }

    .my-darken-1 {
        background-color: $color-secondary-1-3 !important;
    }

    .my-darken-2 {
        background-color: $color-secondary-1-4 !important;
    }
}


.my-secondary-2 {
    background-color: $color-secondary-2-0 !important;
    color: #FFF !important;

    .my-lighten-1 .my-lighten-2 {
        color: #000 !important;
    }

    .my-lighten-1 {
        background-color: $color-secondary-2-2 !important;
    }

    .my-lighten-2 {
        background-color: $color-secondary-2-1 !important;
    }

    .my-darken-1 {
        background-color: $color-secondary-2-3 !important;
    }

    .my-darken-2 {
        background-color: $color-secondary-2-4 !important;
    }
}